@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*
    font-family: 'Montserrat', sans-serif; 
*/

body {
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 250ms ease-out;
    border: 0;
}

button {
    background: none;
    cursor: pointer;
}

:root {
    --blue100: #232f84;
    --blue110: #28306B;
    --dark100: #060606;
    --dark5: hsl(0, 0%, 96%);
    --white100: white;
    --green100: #34C57B;
    --blue10: #E0E2EA;
    --dark10: #DEDEDE;
}

/*------- Scroll Animation ----------*/

.nonvis:nth-child(1) {
    opacity: 0;
    transform: translateY(20px);
}

.nonvis.vis:nth-child(1) {
    opacity: 1;
    transition: all .5s ease-in-out;
    transform: translateY(0px);
}

.nonvis:nth-child(2) {
    opacity: 0;
    transform: translateY(20px);
}

.nonvis.vis:nth-child(2) {
    opacity: 1;
    transition: all .5s ease-in-out;
    transform: translateY(0px);
    transition-delay: 250ms;
}

.nonvis:nth-child(3) {
    opacity: 0;
    transform: translateY(20px);
}

.nonvis.vis:nth-child(3) {
    opacity: 1;
    transition: all .5s ease-in-out;
    transform: translateY(0px);
    transition-delay: 750ms;
}

.nonvis:nth-child(4) {
    opacity: 0;
    transform: translateY(20px);
}

.nonvis.vis:nth-child(4) {
    opacity: 1;
    transition: all .5s ease-in-out;
    transform: translateY(0px);
    transition-delay: 500ms;
}

.nonvis:nth-child(5) {
    opacity: 0;
    transform: translateY(20px);
}

.nonvis.vis:nth-child(5) {
    opacity: 1;
    transition: all .5s ease-in-out;
    transform: translateY(0px);
    transition-delay: 600ms;
}

.slider__block.nonvis {
    opacity: 0;
    transform: translateX(50px);
}

.slider__block.nonvis.vis {
    opacity: 1;
    transform: translateX(0px);
    transition: all .5s ease-in-out;
    transition-delay: 200ms;
}


/* ----------- Header -------------*/

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 36px;
    align-items: center;
    background-color: var(--white100);
    position: fixed;
    width: 100%;
    border-bottom: 1px solid var(--dark5);
    z-index: 4;
}

.header__logo {
    content: url(logo/dark.png);
    height: 50px;
    cursor: pointer;
}

.header__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    flex-wrap: wrap;
    align-items: center;
}

.header__dropdown-list {
    display: none;
    position: fixed;
    animation-duration: 1s;
    animation-name: standup;
}

@keyframes standup {
    from {
        opacity: 1;
        transform: translateY(0px);
    }

    to {
        transform: translateY(-20px);
        opacity: 0;
    }
}

@keyframes dropdown {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.header__dropdown-list_active {
    display: flex;
    animation-duration: 1s;
    animation-name: dropdown;
    position: fixed;
    flex-direction: column;
    top: 84px;
    justify-content: start;
    border-radius: 16px;
    z-index: -1;
}

.header__item {
    background-color: var(--white100);
    height: 84px;
    display: flex;
    align-items: center;
}

.header__dropdown-item {
    background-color: var(--dark5);
}

.header__dropdown-button {
    display: flex;
    gap: 8px;
    align-items: center;
}

.header__dropdown-icon_active {
    transform: rotate(-180deg);
}

.header__item:hover {
    background-color: var(--dark5);
}

.header__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 32px 36px;
    text-decoration: none;
    color: var(--dark100);
}

.header__link:hover {
    color: var(--blue100);
}

svg path {
    fill: inherit;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 72px;
    line-height: 110%;
    color: var(--green100); 
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 52px;
    line-height: 100%;
    color: var(--green100);
}

.landing {
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    grid-template-columns: 1fr 2fr;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    justify-content: center;
}

.landing__gallery {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-radius: 0 0 0 32px;
}

.landing__gallery-item {
    height: 100vh ;
    object-fit: cover;
    width: 15%;
    transition: all 400ms ease-in-out;
    opacity: 30%;
}

.landing__gallery-item_active {
    opacity: 100%;
    width: 40%;
    transition: all 400ms ease-in-out;
}

.landing__wrapper {
    display: grid;
    gap: 32px;
    grid-template-columns: 1.6fr 3fr;
    align-items: start;
    padding-left: 200px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 100%;
    gap: 24px;
}

.par-reg {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--dark100);
    line-height: 140%;
}

.landing__par {
    max-width: 375px;
}

.hamb-menu {
    display: none;
}

.container {
    max-width: 1500px;
    padding: 0 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 72px;
}

.about-us .par-reg {
    max-width: 600px;
}

.about-us {
    gap: 32px;
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
    align-items: start;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.col-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

.slide-images {
    width: 100%;
    min-width: 100%;
    object-fit: cover;
}

.button-with-icon {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 20px 36px;
    text-decoration: none;
    color: var(--white100);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    background-color: var(--blue100);
    transition: all 150ms ease-in;
    transition-delay: 0;
}

.button-with-icon:hover {
    transition-delay: 0;
    transition: background-color 150ms ease-in;
    background-color: var(--blue110);
}

/*------------------ Footer ---------------------------*/

.footer {
    background-color: var(--blue110);
    padding: 56px 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    gap: 32px;
}

.footer__logo {
    content: url(logo/light.png);
}

.footer__group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.par-bold {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: var(--green100);
    line-height: 140%;
}

.footer__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--white100);
    line-height: 140%;
}

.ps {
    border-top: 1px dotted var(--dark5);
    display: block;
    background-color: var(--blue110);
    color: var(--white100);
    font-weight: 500;
    padding: 32px 200px;
}






.slide {
    background-size: cover;
}
.btn-next {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;
    color: var(--white100);
    rotate: 180deg;
    opacity: 75%;
}
.btn-next:hover {
    opacity: 100%;
}
.btn-prev:hover {
    opacity: 100%;
}

.btn-prev {
    z-index: 1;
    display: block;
    position: absolute;
    top: 50%;
    left: 20px;
    color: var(--white100);
    opacity: 75%;
}

.slider-tracker {
    display: flex;
    flex-direction: row;    
}

.slider-container {
    overflow: hidden;
    border-radius: 24px;
    width: 100%;
    height: 100%;
    max-width: 900px;
}

.btn-hidden {
    display: none;
}

/*--------------- Defaults ------------------*/

.default-block {
    display: flex;
    flex-direction: column;
    gap: 36px;
    align-items: center;
}

.cazare {
    padding-top: 136px;
    max-width: 900px;
    text-align: center;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.default-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    gap: 12px;
    flex-wrap: wrap;
}

.default-list__item {
    background-color: var(--dark5);
    border-radius: 8px;
    padding: 12px;
    text-decoration: none;
    list-style-type: none;
}

.default-list__item::before {
    content: '— ';
    color: var(--green100);
}

.footer {
    margin-top: 88px;
}

.contacte, .activitati {
    margin-top: 136px;
}

.despre-noi {
    margin-top: 136px;
}

.contacts__group {
    padding: 24px 32px;
    background-color: var(--dark5);
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 24px;
}

.contacts__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--dark100);
    line-height: 140%;
}

.contacts__group .par-bold {
    color: var(--blue100);
}

.contacts .col {
    gap: 12px;
}

.map {
    border-radius: 24px;
}

.groups-inputs {
    background-color: var(--dark5);
    padding: 32px;
    border-radius: 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

table {
    width: 100%;
    border-spacing: 4px;
}

th {
    background-color: var(--blue100);
    color: var(--white100);
    padding: 16px 16px;
    border-radius: 16px;
}

td {
    background-color: var(--blue10);
    color: var(--dark100);
    padding: 16px 16px;
    border-radius: 16px;
}

.message {
    min-height: 200px;
}

.group-inputs__item .par-bold {
    color: var(--blue100);
    font-size: 16px;
}

.input {
    background-color: var(--white100);
    padding: 12px 24px;
    width: 100%;
    border: 2px solid var(--dark10);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    border-radius: 16px;
}

.input:focus {
    border: 2px solid var(--green100);
}

.col-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.touristic-objects {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 52px;
    align-items: center;
}

.col-3 .col .par-reg {
    text-align: center;
}

.activity .col-2 .col .par-reg {
    text-align: center;
}

.touristic-objects__image {
    width: 100%;
    border-radius: 24px;
}

.services {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 52px;
}

.restaurant {
    padding-top: 136px;
}
.restaurant__par {text-align: left;}
.activity {
    display: flex;
    flex-direction: column;
    gap: 52px;
    align-items: center;
}

.despre-noi{
    margin-top: 136px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.touristic-object {
    max-width: 900px;
}

.touristic-objects .par-reg {
    text-align: center;
}


/*-------- --------- Adaptive -------------------------*/

@media(max-width: 850px) {

    .par-reg,
    .par-bold {
        font-size: 16px;
    }

    .col-2 {
        grid-template-columns: 1fr;
    }

    .col-3 {
        grid-template-columns: 1fr;
    }

    .footer {
        flex-direction: column;
    }

    .map {
        width: 100%;
    }
}

@media (max-width: 1420px) {
    .landing__wrapper {
        padding-left: 36px;
    }

    .container {
        padding: 0px 36px;
    }

    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 36px;
    }

    .col-3 {
        gap: 16px;
    }

    .col-2 {
        gap: 16px;
    }

    .footer {
        padding: 56px 36px;
    }

    .ps {
        padding: 32px 36px;
    }
}

@media(max-width: 1000px) {
    .hamb-menu{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        padding: 24px 24px;
        border-bottom: 1px solid var(--dark5);
        position: fixed;
        z-index: 1;
        background-color: var(--white100);
    }

    .hamb-menu__logo{
        content: url(logo/dark.png);
        height: 50px;
        cursor: pointer;
    }

    .hamb-menu__icon {
        color: var(--blue100);
    }

    .header {
        display: none;
    }

    .landing__wrapper {
        padding-left: 36px;
        grid-template-columns: 1fr;
    }

    h1 {
        font-size: 54px;
    }

    .landing {
        padding-top: 160px;
    }

    .landing__gallery-item {
        height: 50vh;
    }
}

